build_dir.hw_emu.xilinx_u250_gen3x16_xdma_4_1_202210_1  
profile_kernels.csv        
v++_krnl_20573.backup.log      
 v++_krnl.link_5933.backup.log
build_dir.hw.xilinx_u250_gen3x16_xdma_4_1_202210_1                 
v++_krnl_21527.backup.log       
v++_krnl.link.log
build_dir.sw_emu.xilinx_u250_gen3x16_xdma_4_1_202210_1                       
v++_krnl_22093.backup.log       
v++_krnl.log
config.cfg                  
v++_krnl_23093.backup.log       
_x
device_trace_0.csv                                      
summary.csv                
v++_krnl_24306.backup.log       
xcd.log
emconfig.json                                           
timeline_kernels.csv       
v++_krnl_24845.backup.log       
_x.hw.*device*
emulation_debug.log                                     
upgrade.tcl                
v++_krnl_25046.backup.log       
_x.hw_emu.xilinx_u250_gen3x16_xdma_4_1_202210_1
host                                                    
utils.mk                   
v++_krnl_26243.backup.log       
_x.hw.xilinx_u250_gen3x16_xdma_4_1_202210_1
v++_krnl_12910.backup.log  v++_krnl_27934.backup.log       
xilinx_u250_gen3x16_xdma_4_1_202210_1-0-krnl.link.protoinst                                          
v++_krnl_13721.backup.log  
v++_krnl_306.backup.log         
xilinx_u250_gen3x16_xdma_4_1_202210_1-0-krnl.link_simulate.log                                              
v++_krnl_14607.backup.log  
v++_krnl_689.backup.log         
xilinx_u250_gen3x16_xdma_4_1_202210_1-0-krnl.link.wcfg
opencl.mk                                               
v++_krnl_14985.backup.log  
v++_krnl_9321.backup.log        
xilinx_u250_gen3x16_xdma_4_1_202210_1-0-krnl.link.wdb
opencl_trace.csv                                        
v++_krnl_17089.backup.log  
v++_krnl.link_20816.backup.log  
xilinx_u250_gen3x16_xdma_4_1_202210_1-0-krnl.link_xsc_report.log
package.hw                                              
v++_krnl_18473.backup.log  
v++_krnl.link_23747.backup.log  
xrt.ini
package.hw_emu                                          
v++_krnl_19534.backup.log  
v++_krnl.link_25661.backup.log  
xrt.run_summary
package.sw_emu                                          
v++_krnl_19616.backup.log  
v++_krnl.link_26202.backup.log  
_x.sw_emu.*device*
power_profile_xilinx_u250_gen3x16_xdma_shell_4_1-0.csv  
v++_krnl_20079.backup.log  
v++_krnl.link_27379.backup.log  
_x.sw_emu.xilinx_u250_gen3x16_xdma_4_1_202210_1